body {
  background-color: black;
  color: white;
}

.header {
  text-align: center;
  font-family: 'Homemade Apple', cursive;
  font-weight: normal;
}

.main-content {
  font-family: 'Bad Script', cursive;
  width: 100%;
}

.flower-pics img {
  width: 23%;
  margin: 1%;
  float:left;

}


.footer {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  position: fixed; bottom: 0;
  width: 100%;
  margin-bottom: 0;
}
.footer img {
  margin-bottom: 0;
  width: 100%;
}
