body {
  background-color: black;
  color: white;
  margin: 0;
  padding-bottom: 25%;
}

h1 {
  font-size: 100px;
  margin: 1%;
}

h2 {
  font-size: 50px;
  margin: 1%;
}

.header {
  text-align: center;
  font-family: 'Homemade Apple', cursive;
  margin: 1px;
}

.main-content {
  background-color: black;
  font-family: 'Bad Script', cursive;
  width: 98%;
  margin: 1%;
  clear: left;
  font-size: 25px;
}

.flower-pics {
  background-color: darkgray;
  width: 22%;
  margin: 1%;
  float:left;
  text-align: center;
  font-family: 'Homemade Apple', cursive;
  border: solid gray 2px;

}

.flower-pics img {
  width: 100%;
}


.cabin-pic {
  width: 100%;
}

.cabin-pic img {
  width: 100%;
}


.footer {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.footer img {
  display:block;
  width: 100%;
}
